.global{
    background-color: rgb(30, 29, 29);
    text-align: center;
}
.judul{
    display:flex;
    justify-content: center;
}
.aboutus{
    text-align: center;
    background-color: azure;
    height:20px;
    width:100px;
    margin: 10px;
    color: rgb(187, 158, 115);
}
.card1{
    display: flex;
    justify-content:center;
}
.card{
    background-color:rgb(184, 187, 190);
    height:250px;
    width:230px;
    margin: 30px;
    border-radius: 10px;
    }
#foto{
    height: 110px;
    width: 110px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.image{ 
    display: flex;
    justify-content: center;
}
.logo{
display:flex;
justify-content:space-evenly;
margin:15px;
}
.nameandrole{max-height: 200px;}
.name{font-size: 20; margin :3px}